<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>state</key>
		<string>payment</string>
		<key>total</key>
		<string>1</string>
		<key>num</key>
		<string>2</string>
		<key>color</key>
		<string>白色</string>
		<key>address</key>
		<string>北京</string>
		<key>business</key>
		<string>时尚步调旗舰店</string>
		<key>list</key>
		<array>
			<string>羽绒服</string>
			<string>精品女鞋</string>
			<string>奢华皮衣</string>
			<string>薄毛衣</string>
			<string>针织衫</string>
		</array>
		<key>title</key>
		<string>2014春夏秋新品休闲时尚韩版运动板鞋百搭单鞋学院风学生女鞋</string>
		<key>price</key>
		<string>¥80.00</string>
		<key>picture</key>
		<string>commodity11.png</string>
	</dict>
	<dict>
		<key>state</key>
		<string>evaluate</string>
		<key>total</key>
		<string>1</string>
		<key>num</key>
		<string>2</string>
		<key>color</key>
		<string>白色</string>
		<key>address</key>
		<string>北京</string>
		<key>business</key>
		<string>时尚步调旗舰店</string>
		<key>list</key>
		<array>
			<string>羽绒服</string>
			<string>精品女鞋</string>
			<string>奢华皮衣</string>
			<string>薄毛衣</string>
			<string>针织衫</string>
		</array>
		<key>title</key>
		<string>2014春夏秋新品休闲时尚韩版运动板鞋百搭单鞋学院风学生女鞋</string>
		<key>price</key>
		<string>¥80.00</string>
		<key>picture</key>
		<string>commodity11.png</string>
	</dict>
	<dict>
		<key>state</key>
		<string>receipt</string>
		<key>total</key>
		<string>1</string>
		<key>num</key>
		<string>2</string>
		<key>color</key>
		<string>白色</string>
		<key>address</key>
		<string>北京</string>
		<key>business</key>
		<string>时尚步调旗舰店</string>
		<key>list</key>
		<array>
			<string>羽绒服</string>
			<string>精品女鞋</string>
			<string>奢华皮衣</string>
			<string>薄毛衣</string>
			<string>针织衫</string>
		</array>
		<key>title</key>
		<string>2014春夏秋新品休闲时尚韩版运动板鞋百搭单鞋学院风学生女鞋</string>
		<key>price</key>
		<string>¥80.00</string>
		<key>picture</key>
		<string>commodity11.png</string>
	</dict>
	<dict>
		<key>state</key>
		<string>evaluate</string>
		<key>total</key>
		<string>1</string>
		<key>num</key>
		<string>2</string>
		<key>color</key>
		<string>白色</string>
		<key>address</key>
		<string>北京</string>
		<key>business</key>
		<string>时尚步调旗舰店</string>
		<key>list</key>
		<array>
			<string>羽绒服</string>
			<string>精品女鞋</string>
			<string>奢华皮衣</string>
			<string>薄毛衣</string>
			<string>针织衫</string>
		</array>
		<key>title</key>
		<string>2014春夏秋新品休闲时尚韩版运动板鞋百搭单鞋学院风学生女鞋</string>
		<key>price</key>
		<string>¥80.00</string>
		<key>picture</key>
		<string>commodity11.png</string>
	</dict>
	<dict>
		<key>state</key>
		<string>payment</string>
		<key>total</key>
		<string>1</string>
		<key>num</key>
		<string>2</string>
		<key>color</key>
		<string>白色</string>
		<key>address</key>
		<string>北京</string>
		<key>business</key>
		<string>时尚步调旗舰店</string>
		<key>list</key>
		<array>
			<string>羽绒服</string>
			<string>精品女鞋</string>
			<string>奢华皮衣</string>
			<string>薄毛衣</string>
			<string>针织衫</string>
		</array>
		<key>title</key>
		<string>2014春夏秋新品休闲时尚韩版运动板鞋百搭单鞋学院风学生女鞋</string>
		<key>price</key>
		<string>¥80.00</string>
		<key>picture</key>
		<string>commodity11.png</string>
	</dict>
</array>
</plist>
